@charset "utf-8";

:root{
    --verdeOliva: #556B2F;
    --azulMarinho: #000080;
    --cinzaMetalico: #808080;
    --begeDeserto: #F5F5DC;
    --vermelhoAlaranjado: #FF4500;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--begeDeserto);
    background-color: var(--azulMarinho);
}

header{
    position: fixed;
    padding: 35px;

}

main{
    overflow: hidden;
}

#container-geral{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    padding-right: 150px;
    padding-bottom: 50px;
}

#h1{
    margin-bottom: 15px;
}

#botao-inscrever{
    height: 20px;
    width: 150px;
    background-color: var(--verdeOliva);
    text-align: center;
}
